@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

* {
    box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

.App {
    position: relative;
    width: 375px;
    height: 812px;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0) 40%), url("./assets/png/8C9Evy.png") center bottom no-repeat;
    z-index: -1;
}

.top-part {
    width: 100%;
    height: 66%;
    padding: 76px 0 13px 0;
}

.window {
    width: 327px;
    height: 447px;
    margin: 0 auto;
    border: 10px solid white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}

.bottom-part {
    width: 100%;
    height: 34%;
    padding: 42px 0 52px 0;
}